@import "../settings/settings";

.accordion {
	border: 1px solid $accordion-border-color;
}

.accordion-element-title {
	border-bottom: 1px solid $accordion-border-color;

	background-color: lighten($accordion-inactive-bg-color, 15%);

	color: lighten($text-color, 30%);
	text-decoration: none;

	display: block;
	padding: 1.5em;

	&:hover,
	&:active {
		color: $accordion-active-text-color;

		background-color: $accordion-active-bg-color;
	}

	.accordion-element:last-child & {
		border-bottom: 0;
	}
}

.accordion-element-content {
	display: none;
	padding: 1.5em;

	p:last-child {
		margin-bottom: 0;
	}
}