.cycle-slideshow {
	position: relative;

	.cycle-prev,
	.cycle-next {
		background-color: rgba(255, 255, 255, .5);

		display: inline-block;
		height: 3em;
		margin-top: -1.5em;
		position: absolute;
		width: 3em;
		z-index: 1000;
		top: 50%;

		text-align: center;
		font-size: 1.5em;
		line-height: 3em;
		cursor: pointer;

		&:hover {
			background-color: rgba( 255, 255, 255, .9 );
		}
	}

	.cycle-next {
		right: 0;
	}

	.cycle-prev {
		left: 0;
	}

	.cycle-caption {
		margin: $baseline 0;

		text-align: center;
	}
}